name = "nawthtech-api"
main = "worker/src/main.go"
compatibility_date = "2025-12-09"

# استخدام Go
type = "javascript"  # مطلوب من Cloudflare لكن الكود Go
workers_dev = true

[build]
command = "go build -o worker/src/main worker/src/main.go"

[env.development]
name = "nawthtech-api-dev"

[env.production]
name = "nawthtech-api-prod"

[[d1_databases]]
binding = "D1"
database_name = "nawthtech_d1"
database_id = "bbf15aeb-0718-47c8-9723-d8a83f79e6cb"

# لا نضع أي متغيرات سرية هنا، كلها ستكون من Railway